<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
</head>
<body>
    <form action="/Register" method="POST">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" placeholder="Name" name="Name" required></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><input type="number" placeholder="Age" name="Age" required></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="email" placeholder="Email" name="Email" required></td>
            </tr>
            <tr>
                <td>Phone number:</td>
                <td><input type="text" placeholder="Phone number" name="Number" required></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td>
                    <input type="radio" name="Gender" value="Male" id="Male">
                    <label for="Male">Male</label><br>
                    <input type="radio" name="Gender" value="Female" id="Female">
                    <label for="Female">Female</label>
                </td>
            </tr>
        </table>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
